{
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react-hooks/recommended"
  ],
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["import"],
  "rules": {
    "no-fallthrough": "off",
    "no-constant-condition": "off",
    "comma-dangle": ["warn", "never"],
    "eol-last": "error",
    "no-console": "off",
    "no-duplicate-imports": "warn",
    "no-unused-vars": "warn",
    "object-curly-spacing": ["warn", "always"],
    "react/jsx-curly-spacing": [
      "warn",
      {
        "allowMultiline": true,
        "children": { "when": "always" },
        "spacing": { "objectLiterals": "always" },
        "when": "always"
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx", ".ts", ".tsx"] }],
    "react/prop-types": "off",
    "semi": "warn",
    "sort-keys": [
      "warn",
      "asc",
      {
        "caseSensitive": true,
        "minKeys": 2,
        "natural": false
      }
    ],

    "import/first": "warn",
    "import/order": [
      "warn",
      {
        "alphabetize": { "order": "asc", "caseInsensitive": false },
        "groups": ["external", "builtin", "parent", "sibling", "index"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before",
            "newlines-between": "never"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "newlines-between": "always"
      }
    ],
    "import/newline-after-import": "warn",
    "import/no-duplicates": "warn",
    "import/no-mutable-exports": "warn"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
