.filters_title {
    font-size: 24px;
}

.filters {
    position: relative;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 3px;
    margin: 20px auto;
    padding: 20px 60px;
    background-color: white;
}

.filters_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.price_checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-top: 3px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #7cb342;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 4px;
    top: 1px;
    width: 5px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.price_text {
    margin-bottom: 10px;
}

.animals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sorting {
    position: relative;
    width: 90%;
    border: 1px solid rgba(0, 0, 0, 0.274);
    border-radius: 3px;
    margin: 20px auto;
    padding: 20px 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sorting_title {
    font-size: 24px;
}

.sorting_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.sort-list {
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    list-style: none;
}

.sort_list__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    margin: 0 50px 0 0;
}

.list__item input {
    display: none;
}

.sort_list__item.direction {
    margin: 0 0 0 10px;
}

.sort_list__item input {
    display: none;
}

.sort_list__item label.down,
.sort_list__item label.up {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sort_list__item.direction span {
    display: none;
}

.sort_list__item input:checked + label {
    color: black;
    border-color: black;
    border-radius: 2px;
}

.sort_list__item label {
    display: inline-block;
    vertical-align: middle;
    padding: 3px 10px;
    border: 1px solid transparent;
    -moz-transition: border 0.3s, color 0.3s;
    -o-transition: border 0.3s, color 0.3s;
    -webkit-transition: border 0.3s, color 0.3s;
    transition: border 0.3s, color 0.3s;
    background: no-repeat center center;
}

@media (max-width: 768px) {
    .filters_content {
        justify-content: center;
    }

    .search {
        margin-bottom: 10px;
        margin-right: 20px;
    }

    .rating {
        margin-bottom: 10px;
        margin-right: 20px;
    }

    .price {
        margin-bottom: 10px;
        margin-right: 20px;
    }
}
